<configuration debug="false" scan="true" scanPeriod="30 seconds">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
			<!-- pattern>%d{HH:mm:ss.SSS} %-5level %black(%-36logger{36}) - %boldWhite(%msg) %boldWhite(%n)</pattern -->
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

  <logger name="Inet4Prefix" level="WARN" />
  <logger name="Inet6Prefix" level="WARN" />

  <logger name="V5Flow" level="WARN" />
  <logger name="V5FlowPacket" level="INFO" />

  <logger name="V9Flow" level="WARN" />
  <logger name="V9FlowPacket" level="INFO" />

</configuration>
